/* SMOOT SCROOL */
html {
    scroll-behavior: smooth;
}
/* FONT CUSTOM */
@font-face {
    font-family: corbel;
    src: url(../../font/corbel.ttf);

    font-family: bubblegum;
    src: url(../../font/BubblegumSans-Regular.ttf);
}
.font-custom1{
    font-family: 'corbel';
    font-variant: inherit;
}
.font-custom2{
    font-family: 'bubblegum';
    font-variant: inherit;
}

/* HEADER */
.header-text {
    margin-top: 25vh;
    padding-left: 10%;
}
.header-background1 {
    background-color: rgb(240, 240, 240);
    height: 450px;
}
.header-background2 {
    background-color: rgb(230, 230, 230);
    height: 450px;
}
.kotak {
    width: 80%;
    background-color: white;
    top: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.padding-section {
    padding: 5rem 3rem 3rem 3rem;
}
.nav-link.active {
    color: #dc3545!important;
}
.card-custom {
    width: 90%;
    background-color: white;
    border-left: 5px solid #dc3545;
}
.card-custom-header {
    position: absolute;
    z-index: 2;
    background-color: #dc3545;
    padding: 5px 30px;
    top: 5%;
    left: 30%;
    right: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5) !important;
}
.card-custom-header-left{
    position: absolute;
    top: 5%;
    left: 19%;
    border-right:35px solid #9b1623;
    border-bottom:35px solid #9b1623;
    border-top:35px solid transparent;
    border-left:35px solid transparent;
}
.card-custom-header-right{
    position: absolute;
    top: 5%;
    right: 19%;
    border-left:35px solid #9b1623;
    border-bottom:35px solid #9b1623;
    border-top:35px solid transparent;
    border-right:35px solid transparent;
}
.card-custom2 {
    position: relative;
    width: 95%;
    background-color: white;
    z-index: 2;
}
.card-custom-header2 {
    position: absolute;
    z-index: 3;
    background-color: #dc3545;
    padding: 0 20px;
    top: 10%;
    left: -5%;
    right: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5) !important;
}
.card-custom-header2-bottom {
    position: absolute;
    z-index: 1;
    top: 27%;
    left: -5%;
    border-right:25px solid #9b1623;
    border-top:25px solid #9b1623;
    border-bottom:25px solid transparent;
    border-left:25px solid transparent;
}

.slider {
    width: 100%;
    margin: 0px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}

a:hover {
    color: #dc3545;
}